/* product styling here */
.HeadTitle {
    width: 100%; /* Set the desired width */
    height: 300px; /* Set the desired height */
    position: relative; /* Necessary for absolute positioning of the image */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}
.HeadTitle h1, .HeadTitle p {
    z-index: 1;
    color: white;
    align-items: center;
    margin: 5px 0;
}
.maincontent {
  display: flex;
  border: 1px solid black;
  height:fit-content ;
  padding-top: 40px;
}
.filter-section {
  flex: 1;
  /* Add styles for the filter section */
  border: 1px solid black;
}

.product-grid {
  flex: 2;
  /* Add styles for the product grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  border: 1px solid black;
  
}
.priceRange {
    display: inline;
    width: 110px;
    height: 30px;
    margin-top: 15px;
}
.product-grid-head {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    border: 1px solid rgb(131, 33, 33);
}
.searchandsort {
    display: flex;
    margin-left: 3px;
}
.product-grid-head p {
    padding-top: 15px;
    padding-left: 5px;
}
.two-sections {
   display: flex;
   flex-direction: column;
}
.mapProducts {
    border: 1px solid rgb(49, 197, 86);
    width: 95%;
    margin: auto; /*to mmake it centerd*/
    height:fit-content ;
}
/*CARD STYLE*/
.productcontainer2 {
    width: 80%;
    margin: auto; /*to mmake it centerd*/
}
.cards2 {
    position: relative;
    text-align: left;
    margin-left: 15px ;
    padding-bottom: 20px;
    height: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.cards2 img {
    width: 100%;
    height: 70%; 
    
}
.products2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-gap: 10px;
    margin: 10px;
    margin-bottom: -120px;
}
.cartbutton2 {
    display: none;
    background-image: none;
    position: absolute;
    bottom: 90px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color:#43D7D7; 
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: 100;
}
.icon-circle2 {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    display: none;
} 
.subicon2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 230px; 
    left: 80%;
}
.cards2:hover .cartbutton2  {
    display: block;
}

.cards2:hover .icon-circle2  {
    display: block;
}
.pagination-container2 {
  padding-left: 20%;
 background-image: none;
 color: #43D7D7;
 padding-bottom: 15px;
}
.priceTag2 p {
    padding-top: 1px;
}
@media (max-width: 765px) {
  /* Styles for screens 765px or smaller */
  .product-grid-head {
    /* Apply specific styles here */
    display: block;
  }
  
}