.signupdiv {
    width: 60%;
    height: 650px;
    margin: 0 auto; 
    text-align: center;
    padding-top: 50px;   
}
.signupdiv h3 {
    font-weight: 00;
}
.signupdiv p {
    color: black;
    font-size: smaller;
}
.signinlink {
    color: black;
}
.signinlink:hover {
    color: #B17939;
}
.registerform {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
     align-items: center; /* Center items horizontally */
  justify-content: center; 
}
.registerform input {
  width: 70%; /* Adjust width as needed */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
   height: 30px;
}
.registerform input:focus {
  outline: none;
  border-color: #B17939;
}
.createbutton {
    background-color:#43D7D7; 
    color: white;
    border: none;
    padding: 7px 25px;
    cursor: pointer;
    font-weight: 100;
    font-size: 10px;
    margin-bottom: 20px;
}
.createbutton:hover {
    background-color: #B17939;
}
.signinhr {
    margin-top: 15px;
    width: 70%;
    margin: 0 auto;
}
.forgotandsing {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.forgotandsing p:hover {
    color: #B17939;
}
.revelpass {
  
  display: flex;
  align-items: center;
  width: 73%; /* Adjust width as needed */
  
  border-radius: 4px;
  padding: 5px 10px;

}
.revelpass input {
  flex: 1; /* Allow the input to fill most of the space */
  border: none; /* Remove default border */
  outline: none; /* Remove default outline */
  font-size: 16px;
  padding: 1px;
  border: 1px solid #ccc;
}
.revelpass .Icon {
  cursor: pointer; /* Indicate clickable behavior */
  color: #999; /* Adjust color as desired */
  transition: color 0.2s ease-in-out; /* Add a smooth transition on hover */
}

.revelpass .Icon:hover {
  color: #333; /* Change icon color on hover */
}
.userprofilecontainer {
  border: 1px solid black;
  width: 60%;
  height: 400px;
  margin: 0 auto;
}
.userprofileinfo {
  border: 1px solid black;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
}
.left-side {
  display: flex;
  flex-direction: column;
  width: 30%;
 
}
.right-side {
  padding-left: 5%;
  display: flex;
  flex-direction: row;width: 100%;
}
.option {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gainsboro;
  height: 40px;
  text-align: left;
  padding-left: 15px;
}
.option.active {
  /* Styles for the active button */
  background-color: #f0f0f0;
  font-weight: bold;
}
.userprofileinfo .right-side input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.userprofileinfo .right-side input:focus {
  border-color: #B17939;
  outline: none;
}
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.btn-primary {
  background-color: #43D7D7;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: 
 #ccc;
  color: #333;
}
.btn-primary:hover {
  background-color: #B17939;
}
.option1div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-container input {
  flex: 2;
 
  width: 80%;
}
.input-container {
 
  width: 100%;
}
.hhhhh {
  width: 60%;
}
.button-container {
  padding-top:20%;
  width: 60%;
  
}
.option2divv {
  border: 1px solid black;
  width: 100%;
}
.dot {
  color: white;
}