.pdmaincontent {
   
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
.pdimage {
   
    height: 100%;
    width: 50%;
}
.pdimage:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    cursor: pointer;z-index: 1;
}
.pddetails {
    
    height: 100%;
    width: 50%;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.pddetailsh1 {
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 0;
    font-size: large;
}
.pdrating {
    padding-top: 1px;
    margin-bottom: 0; 
    margin-left: 5px;
    position: absolute;
    top: 30px;
}
.pdprice {
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.pdhr {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.pdtt {
    margin-left: 10px;
    padding-bottom: 30px;
}
.details {
    margin-left: 10px;
    padding-bottom: 30px;
}
.choises {
    background-color: black;
    padding: 5px 10px;
    font-weight: 100;
    color: white;
    margin-left: 30px;
}
.choises2 {
    background-color: black;
    padding: 5px 10px;
    font-weight: 100;
    color: white;
    margin-left: 40px;
}
.pdquantity {
    width: 50px;
    margin-top: 15px;
}
.pdcartbutton {
    background-color:#43D7D7; 
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 100;
    margin-top: 5px;
    margin-right: 15px;
}
.pdwishlist {
    font-size: small;
    background-color:#43D7D7; 
    color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 8px;
}
.pddescription {
   
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2);
}
.pddesss {
   
    width: 600px;
    
}
table {
    width: 100%;
}
th {
    text-align: left;
}
.relatedproducts {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}
.relatiedtitle {
    text-align: center;
}
.relatiedtitle p {
    color: #B17939;
}
.relatiedtitle h2 {
    font-weight: 400;
}
.relatiedtitle  {
    margin-top: 30px;
    color: black;
}
.relatiedtitle p {
    color: black;
}
.relatiedtitle  .subicon {
     display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 190px; 
    left: 80%;
} 
.relatiedtitle .cartbutton {
    bottom: 80px; 
}
@media (max-width: 804px) {
  
  .addcartwisjquantity {
    
    flex-direction: column;
    }
}